#page-logo {
  max-width: 180px;
  margin-right: 25px;
}

.recipe-card {
  width: 18rem;
  text-decoration: none;
}

.recipe-img {
  width: 500px;
}

#description {
  height: 200px;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
}
