body {
  background: linear-gradient(
      0deg,
      rgba(80, 80, 80, 0.5),
      rgba(80, 80, 80, 0.5)
    ),
    url("../public/assets/background/pexels-dana-tentis-118658-691114.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#page-logo {
  max-width: 180px;
  margin-right: 25px;
}

.recipe-card {
  width: 18rem;
  text-decoration: none;
  transition: transform 0.2s;
  border: none !important;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.recipe-card:hover {
  transform: scale(1.05);
}
/* 
.recipe-img {
  width: 800px;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
} */

#description {
  height: 200px;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.card-img-top {
  height: 220px;
  object-fit: cover;
}

.card-text {
  height: 60px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.card-body {
  height: 170px;
}

#user-form-container {
  height: 90vh;
}

.single-recipe-card {
  width: 95%;
  height: auto;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.single-recipe-text {
  word-wrap: break-word;
  hyphens: auto;
  white-space: pre-wrap;
  margin: 20px;
}

.single-recipe-img {
  height: 500px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
}

.button-single-recipe {
  width: 100px;
}

.review-card,
.review-form {
  background-color: rgb(255, 255, 255);
  width: 48%;
  border-radius: 10px;
}

.review-content {
  padding: 7px;
}

#review-description-label {
  font-size: 18px;
}
